* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 1rem;
    height: 100%;
    /*100% de su contenedor*/
}

body,
header,
main,
footer {
    /* border: 3px red solid; */
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
    font-family: 'Lato', sans-serif;
    /*no se achica más que esto*/
}

header {
    background: #FFF;
    box-shadow: 0 0 0.5rem rgb(83 78 76 /50%);
}

/* logo menú */
.header-logo {
    width: auto;
    display: inline-block;
    margin: 0.4rem;
}

/* menú */
.header-menu {
    /* border: 1px red solid; */
    position: relative;
    left: auto;
    top: auto;
    width: 90%;
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1rem;
}

.header-menu ul {
    list-style: none;
}

.header-menu li {
    float: left;
    font-weight: 600;
    text-align: center;
    margin: 0 1rem 0;
    font-family: 'Lato', sans-serif;
    /* separación entre palabras del menú */
}

.header-menu a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}

/* .header-menu a:hover {
    color: rgb(141, 32, 83);
} */

footer {
    background: #FFF;
}

main {
    min-height: 200px;
}

/* carrousel */
.carrousel {
    max-width: 120em;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    overflow: hidden;
}

.carrousel ul {
    list-style: none;
}

.carrousel .grande {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1em;
    padding: 1em;
    transition: all 0.5s ease;
    transform: translateX(0%);
}

.carrousel .img {
    width: calc(100% / 3 - 2em);
    height: 500px;
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: 0 0 0.5rem rgb(83 78 76 /50%);
}

.carrousel .puntos {
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    /* espacio entre puntos */
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: pink;
    /* fondo cuando está inactivo */
    box-shadow: 0 0 0.5rem rgb(83 78 76 /50%);
}

.carrousel .punto.activo {
    background-color: hotpink;
    /* fondo cuando está activo */
}

/* destacados */

.destacado {
    /* border: 1px red solid; */
    margin: 2em;
    padding: 1em;
    text-align: center;
}

.destacado img {
    height: 200px;
    width: 300px;
    margin: 0 0 1em 0;
}

.destacado div {
    /* border: 1px blue solid; */
    padding: 1em;
    box-shadow: 0 0 0.5rem rgb(83 78 76 /50%);
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1rem;
    text-align: left;
    min-height: 350px;
    flex-flow: row nowrap;
}

.destacado div > p {
    /* border: 1px red solid; */
    max-width: 300px;
}

.titulo-destacado {
    text-align: center;
    font-size: x-large;
    
}

/* FAQ */

.div-faq {
    padding: 0.5em;
    /* box-shadow: 0 0 0.5rem rgb(83 78 76 /50%); */
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    text-align: justify;
}

.main-center {
    /* border: 1px red solid; */
    padding: 1em 2em 0 2em;
}

/* CATÁLOGO */

.producto {
    /* border: 1px red solid; */
    margin: 1rem 1rem 0.5rem 2rem;
    padding: 1em;
    text-align: left;
    box-shadow: 0 0 0.5rem rgb(83 78 76 /25%);
    left: auto;
    position: relative;
    top: auto;
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
}

.producto img {
    float: left;
    height: 200px;
    width: 300px;
    margin: 0 0 1em 0;
}

.producto div {
    /* border: 1px red solid; */
    padding: 0 1em 0 1em;
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    max-width: 70%;
    display: inline-block;
}

.producto div > p{
text-align: justify;
}

.div-sobre{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.propiedades{
    margin-top: 1em;
}

.propiedades-list{
    margin-bottom: 0.5em;
    padding-left: 1em;
}